In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [7]:
list(df.columns)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [16]:
s=df['Name'][0:10]

In [17]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [18]:
type(s)

pandas.core.series.Series

In [19]:
#insist of default index, giving index name according to our choise.
l=['a','b','c','d','e','f','g','h','i','j']

In [21]:
pd.Series(list(s), index=l)

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [22]:
s1=pd.Series(list(s), index=l)

In [23]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [24]:
s1[0]  #pandas stil knows the interanl indexes. even we modify it.

'Braund, Mr. Owen Harris'

In [26]:
s1['a']

'Braund, Mr. Owen Harris'

In [27]:
s4=pd.Series([5,6,7,8],index=[1,2,3,4])

In [28]:
s4

1    5
2    6
3    7
4    8
dtype: int64

In [29]:
s5=pd.Series([33,44,55,66],index=[7,8,9,10])

In [30]:
s5

7     33
8     44
9     55
10    66
dtype: int64

In [32]:
s6=s4.append(s5)

/tmp/ipykernel_168/884104408.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6=s4.append(s5)

In [33]:
s6

1      5
2      6
3      7
4      8
7     33
8     44
9     55
10    66
dtype: int64

In [36]:
s6[8]

44

In [37]:
s6[0:3]

/tmp/ipykernel_168/3391880428.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:3]

1    5
2    6
3    7
dtype: int64

In [38]:
s4*s5

1    NaN
2    NaN
3    NaN
4    NaN
7    NaN
8    NaN
9    NaN
10   NaN
dtype: float64